body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#appointmentTableDiv, #doctorTableDiv, #drAppointmentsTableDiv {
    padding-top: 20px;
}

.commonTable td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.commonTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9393ff;
    color: white;
}