body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#appointmentTableDiv, #doctorTableDiv, #drAppointmentsTableDiv {
    padding-top: 20px;
}

.modal-body {
	padding: 20px 30px;
}

#mynavbar-nav li:hover {
	background-color: #ffffff;
	color: #EEA200;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}